html, body{
    height: 100%;
}
.header{
    position: relative;
    height:auto;
    width:100%;
    clear: both;
}
.body{
    display: inline;
    float: right;
    height: auto;
    width: 80%;
    background-image: url(imgs/img_flwr.gif), url(imgs/paper.gif) ;
    background-repeat: no-repeat, repeat;
    background-position: right bottom, left top;
}
.leftNav{
    position: relative;
    display: inline;
    float: left;
    background: #9E9E9E;
    background: linear-gradient(to bottom right, #FFEBEE, #A5D6A7);
    width: 20%;
    height:80%;
}
.footer{
    height: 9%;
    background: yellow;
    width:100%;
    clear:both;
    display: block;
}
.grid{
    margin: 1%;
    display: inline-block;
    min-width: 200px;
    width: 250px;
    height:100px;
    background: orange;
    border: 3px solid #73AD21;
    overflow-y: auto;
}
.leftnavel{
    text-align: center;
    margin: 3%;
    height: 30px;
    width: 80%;
    background: yellow;
    background: linear-gradient(to bottom right, #FFCDD2, #AB47BC);
    position: relative;
}
.leftnavel:hover{
    background: orange;
}
.leftnavel:hover .subNavSec{
    display: block;
}
.subNavSec{
    display: none;
    background: #EBF5FB;
    position: absolute;
    left:100%;
    top:1%;
    
}
.subNav{
    text-align: center;
    padding: 10px;
    border: 1px solid #D1F2EB;
    margin: 5px;
}
.logo{
    float: left;
    display: inline;
    position: relative;
    height: 100%;
    width: 20%;
}
.headerNav{
    overflow: hidden;
    float: right;
    display: inline;
    position: relative;
    height: inherit;
    width: 80%;
    background: #E5E7E9;
}
.headerNavEl{
    text-align: center;
    display: inline-block;
    float: left;
    height: 50%;
    width: 50px;
    background: #D4AC0D;
    position: relative;
    margin: 10px;
    padding: 5px 5px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.headerLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.headerNavEl:hover{
    background: yellow;
}
.subHeaderSec{
    display: none;
    position: fixed;
    min-width: 100px;
    width:auto;
    background: #FFEB3B;
    z-index: 1;
}
.subHeaderNavEl{
    text-align: center;
    padding: 10px;
    border: 1px solid #D1F2EB;
    margin: 5px;
    width: auto;
}
.headerNavEl:hover .subHeaderSec{
    display: block;
}
a{
    display: block;
}
a:hover{
    background-color: yellow;
}
.tooltip{
    position:fixed;
    background: pink;
    top:0px;
    left: 0px;
}

.circle{
    position: absolute;
    border-radius: 25px;
    background: #73AD21;
    width: 50px;
    height: 50px; 
    display: none;
}