.notificationContainer{
    display: flex;
    background: aqua;
    height:10%;
}

.headerContainer{
    display:flex;
    background: gray;
    line-height: 3;
    
}

.horizontalNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.horizontalNav > div{
    padding: 5px;
    background: teal;
    margin: 10px;
    width: 100px;
}

.horizontalNav > div:hover{
    background: yellow;
}

.row{
    display:flex;
    flex-direction: row;
    background: silver;
    min-height:400px;
}

.column{
    background: silver;
    flex:0 0 20%;
    flex-direction: column;
}
.column > div{
    margin: 10px;
    padding: 5px;
}
.column > div:hover{
    background: yellow;
}

.main{
    background: #F8F9F9;
    flex:70%;
}
.main > .blogs{
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main > .blogs:hover{
    background: #D7DBDD;
}
.blogs > .title{
    padding: 5px;
    font-family: sans-serif;
    font-weight: 900;
    font-size:30px;
}
.blogs > .details{
    font-family: sans-serif;
    font-weight: lighter;
    font-size:13px;
}
.blogs > .text{
    font-family:cursive;
    font-size:20px;
}
.imgView {
    display: none;
}
.blogs > .images > img{
    width: 100px;
    height: 100px;
    margin: 5px;
    box-shadow: 10px 10px 5px grey;
    transition: width 3s, height 3s;
}
.blogs > .images > img:hover{
    width: 500px;
    height: 500px;
}

.main > .gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.gallery > div {
    width : 70px;
    height:50px;
    background: yellow;    
    margin: 5px;    
}

.footerContainer{
    line-height: 3;
    background: Fuchsia;
}